{% macro info_box(value, text, bgcolor, icon) %}
<div class="card bg-{{ bgcolor }} 
	{{ 'text-dark' if bgcolor in ['light', 'info', 'warning'] else 'text-light' }} 
	shadow-sm">
	<div class="card-body">
		<div class="d-flex">
			<div class="flex-fill">
				<h2 class="fw-bold">{{ value }}</h2>
				<p class="m-0">{{ text }}</p>
			</div>
			<div class="d-flex align-items-center ps-2">
				<i class="fa {{ icon }} fa-3x"></i>
			</div>
		</div>
	</div>
</div>
{% endmacro %}
