{% extends "./layout.njk" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Title</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group me-2">
			<button type="button" class="btn btn-sm btn-outline-secondary">Button1</button>
			<button type="button" class="btn btn-sm btn-outline-secondary">Button2</button>
		</div>
		<div class="dropdown">
			<button id="dropdownMenuButton1" data-bs-toggle="dropdown" type="button"
				class="btn btn-sm btn-outline-secondary dropdown-toggle">
				<i class="fa fa-archive"></i>
				Dropdown button
			</button>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</div>
	</div>
</div>

<h2>Section title</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus optio ipsa nemo quam, possimus eveniet rerum quos,
	architecto iusto vel rem amet reprehenderit repellendus et soluta labore omnis minus iste.</p>
{% endblock %}
