{% extends "auth_layout.njk" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col col-md-4 col-lg-3 mx-auto">
			<form class="text-center">
				<h4 class="mb-4 fw-normal">Company Name</h4>

				<div class="form-floating mb-3">
					<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
					<label for="floatingInput">Email address</label>
				</div>

				<button class="w-100 btn btn-lg btn-primary" type="submit">Get Reset Link</button>
				<p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
			</form>

		</div>
	</div>
</div>
{% endblock %}
