{% extends "./layout.njk" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Dashboard</h1>
</div>

<div class="row">
	{%
	set boxes = [{value: "150", text: "New Orders", bgcolor: "primary", icon: "shopping-cart"},
	{value: "53%", text: "Bounce Rate", bgcolor: "success", icon: "bar-chart"},
	{value: "44", text: "User Registrations", bgcolor: "warning", icon: "user-plus"},
	{value: "65", text: "Unique Visitors", bgcolor: "danger", icon: "pie-chart"}]
	%}
	{% for box in boxes %}
	<div class="col-sm">
		{% from "./partials/info-box.njk" import info_box %}
		{{ info_box(box.value, box.text, box.bgcolor, box.icon) }}
	</div>
	{% endfor %}
</div>

{% endblock %}
