<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- app styles -->
	<link rel="stylesheet" href="./scss/style.scss">

	{% block styles %}{% endblock%}

	<title>Dashboard</title>
</head>

<body>
	<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 col text-wrap me-0 px-3" href="#">Company Name</a>
		<div class="d-flex m-1 d-md-none">
			<div class="dropdown">
				<button class="btn shadow-none navbar-user-btn rounded-0 dropdown-toggle" type="button"
					id="navbar-user-mobile-menu" data-bs-toggle="dropdown" aria-expanded="false">
					<img width="auto" height="34" class="rounded-circle"
						src="https://www.gravatar.com/avatar/000000000000	0000000000000000000" alt="">
				</button>
				<ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="navbar-user-mobile-menu">
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li><a class="dropdown-item" href="#">Logout</a></li>
				</ul>
			</div>
			<button class="ms-1 navbar-toggler rounded-0 shadow-none collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div class="d-none d-md-flex navbar-nav flex-row">
			<div class="dropdown h-100 me-md-2">
				<button class="btn h-100 shadow-none navbar-user-btn text-white rounded-0 dropdown-toggle" type="button"
					id="navbar-user-menu" data-bs-toggle="dropdown" aria-expanded="false">
					<img width="auto" height="34" class="rounded-circle me-1"
						src="https://www.gravatar.com/avatar/0000000000000000000000000000000" alt="">
					Your Name
				</button>
				<ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="navbar-user-menu">
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li><a class="dropdown-item" href="#">Logout</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebar-menu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky h-100 overflow-auto pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" href="./index.njk">
								<i class="fa fa-home fa-fw"></i>
								Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./blank.njk">
								<i class="fa fa-file fa-fw"></i>
								Blank Page
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./notification.njk">
								<i class="fa fa-shopping-cart fa-fw"></i>
								Notification
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./login.njk">
								<i class="fa fa-users fa-fw"></i>
								Login
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./register.njk">
								<i class="fa fa-bar-chart fa-fw"></i>
								Register
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./forgot_password.njk">
								<i class="fa fa-object-group fa-fw"></i>
								Forgot Password
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="collapse" href="#submenu1" role="button">
								<div class="d-flex align-items-center">
									<div class="flex-fill">
										<i class="fa fa-bars fa-fw"></i>
										Submenu 1
									</div>
									<i class="fa fa-angle-left"></i>
								</div>
							</a>
							<ul data-bs-parent="#sidebar-menu" id="submenu1" class="collapse nav flex-column ms-2">
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fa fa-angle-right fa-fw"></i>
										Submenu 1 Item 1
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fa fa-angle-right fa-fw"></i>
										Submenu 1 Item 2
									</a>
								</li>
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="collapse" href="#submenu2" role="button">
								<div class="d-flex align-items-center">
									<div class="flex-fill">
										<i class="fa fa-bars fa-fw"></i>
										Submenu 2
									</div>
									<i class="fa fa-angle-left"></i>
								</div>
							</a>
							<ul data-bs-parent="#sidebar-menu" id="submenu2" class="collapse nav flex-column ms-2">
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fa fa-angle-right fa-fw"></i>
										Submenu 2 Item 1
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fa fa-angle-right fa-fw"></i>
										Submenu 2 Item 2
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fa fa-angle-right fa-fw"></i>
										Submenu 2 Item 3
									</a>
								</li>
							</ul>
						</li>
					</ul>

					<h6 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
						<small>Saved reports</small>
						<a class="link-secondary" href="#">
							<i class="fa fa-plus-circle"></i>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-file-text-o fa-fw"></i>
								Current month
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-file-text-o fa-fw"></i>
								Last quarter
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-file-text-o fa-fw"></i>
								Social engagement
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa fa-file-text-o fa-fw"></i>
								Year-end sale
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

				<div class="mb-3">
					{% block content %}
					Content here
					{% endblock %}
				</div>

				<footer class="py-2 mb-4 border-top d-flex">
					<p class="m-0 flex-fill">&copy; 2021 Company Name</p>
					<p class="m-0 text-muted">v1.0.0</p>
				</footer>
			</main>
		</div>
	</div>

	<!-- app js -->
	<script src="./js/main.js"></script>

	{% block scripts %}{% endblock %}
</body>

</html>
